/* FONTS */

@import url(https://fonts.googleapis.com/css2?family=Overpass:wght@100;200;300;400;500;600;800;900&display=swap);

/* CUSTOM PROPS */

:root {
	--body-bg: #131518;
	--linear-bg: linear-gradient(to bottom #232a34 0%, #181e27 100%);
	--text-color: #969fad;
	--white-color: #fff;
	--rating-bg: #262e38;
	--accent-color: #fc7614;
}

/* GLOBAL STYLES */

html {
	box-sizing: border-box;
	height: 100%;
	scroll-behavior: smooth;
	font-size: 14px;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	display: flex;
	flex-direction: column;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: "Overpass", sans-serif;
	font-size: 1rem;
	line-height: 22px;
	background-color: var(--body-bg);
	color: var(--text-color);
}

img {
	max-width: 100%;
	height: auto;
}

/* VISUALLY-HIDDEN */
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

/* AUTOFILL COLORS
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-color: transparent;
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
}  */

/* PLACEHOLDER COLOR
::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
  color: rgba(52, 49, 61, 0.5);
}  */

/* CONTAINER */

.container {
	width: 100%;
	max-width: 452px;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* MAIN CONTENT */
.main-content {
	flex-grow: 1;
}

/* RETINA BACKGROUNDS */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (min--moz-device-pixel-ratio: 2),
	only screen and (-o-min-device-pixel-ratio: 2/1),
	only screen and (min-device-pixel-ratio: 2),
	only screen and (min-resolution: 192dpi),
	only screen and (min-resolution: 2dppx) {
}
