/* FONTS */

@import url(https://fonts.googleapis.com/css2?family=Overpass:wght@100;200;300;400;500;600;800;900&display=swap);

/* CUSTOM PROPS */

:root {
	--body-bg: #131518;
	--linear-bg: linear-gradient(#232a34 0%, #181e27 100%);
	--text-color: #969fad;
	--white-color: #fff;
	--rating-bg: #262e38;
	--accent-color: #fc7614;
}

/* GLOBAL STYLES */

html {
	box-sizing: border-box;
	height: 100%;
	scroll-behavior: smooth;
	font-size: 14px;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	display: flex;
	flex-direction: column;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: "Overpass", sans-serif;
	font-size: 1rem;
	line-height: 22px;
	background-color: var(--body-bg);
	color: var(--text-color);
}

img {
	max-width: 100%;
	height: auto;
}

/* VISUALLY-HIDDEN */
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

/* AUTOFILL COLORS
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-color: transparent;
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
}  */

/* PLACEHOLDER COLOR
::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
  color: rgba(52, 49, 61, 0.5);
}  */

/* CONTAINER */

.container {
	width: 100%;
	max-width: 460px;
	padding-left: 24px;
	padding-right: 24px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* MAIN CONTENT */
.main-content {
	flex-grow: 1;
}

/* RETINA BACKGROUNDS */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (min--moz-device-pixel-ratio: 2),
	only screen and (-o-min-device-pixel-ratio: 2/1),
	only screen and (min-device-pixel-ratio: 2),
	only screen and (min-resolution: 192dpi),
	only screen and (min-resolution: 2dppx) {
}

.container {
	height: 100%;
}
.rating {
	display: flex;
	flex-direction: column;
	gap: 24px;
	padding: 28.5px 24px;
	background: linear-gradient(#232a34 0%, #181e27 100%);
	border-radius: 15px;
	/* align-items: flex-start; */
}
.rating-img {
	display: block;
	width: 40px;
	height: 40px;
}
.rating__content {
	display: flex;
	flex-direction: column;
	gap: 16px;
}
.rating-heading {
	margin: 0;
	font-size: 1.72rem;
	line-height: 30px;
	color: var(--white-color);
}
.rating-text {
	margin: 0;
}
.rating__buttons {
	display: flex;
	justify-content: space-between;
}
.rating__btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 42px;
	height: 42px;
	border-radius: 50%;
	background-color: var(--rating-bg);
	font-weight: bold;
	color: var(--text-color);
	text-decoration: none;
	vertical-align: middle;
	cursor: pointer;
}

.rating__btn:active {
	background-color: var(--white-color);
	color: #262e38;
}

/* Submit button */
.rating__submit {
	text-decoration: none;
	text-transform: uppercase;
	color: var(--body-bg);
	font-weight: bold;
	line-height: 18px;
	letter-spacing: 1.87px;
	padding: 15px;
	background-color: var(--accent-color);
	border-radius: 22.5px;
	cursor: pointer;
	text-align: center;
}

.rating__submit:hover {
	background-color: var(--white-color);
}

@media screen and (min-width: 768px) {
	.rating {
		gap: 32px;
		padding: 34.5px 30.5px;
	}
	.rating-img {
		width: 48px;
		height: 48px;
	}

	.rating-heading {
		font-size: 2rem;
		line-height: 35px;
	}
	.rating-text {
		margin: 0;
		font-size: 15px;
		line-height: 24px;
	}

	.rating__btn {
		width: 51px;
		height: 51px;
		font-size: 16px;
		line-height: 24px;
	}

	.rating__btn:active {
		background-color: var(--white-color);
		color: #262e38;
	}

	/* Submit button */
	.rating__submit {
		line-height: 24px;
		letter-spacing: 0.17px;
		padding: 12.5px;
		font-weight: 600;
	}
}

.btn-active {
	background-color: var(--accent-color);
	color: var(--rating-bg);
}

/* =====THANKS PAGE===== */

.thanks {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 24px;
	background: linear-gradient(#232a34 0%, #181e27 100%);
	padding: 36px 24px;
	border-radius: 15px;
}
.thanks-img {
	width: 144px;
	height: 96px;
}
.thanks__result {
	background-color: #262e38;
	border-radius: 22.5px;
	padding: 6px 12px;
}
.thanks__result-text {
	color: #fc7614;
	margin: 0;
	font-size: 14px;
	line-height: 22px;
}
.selected-rating {
	display: inline-block;
}
.thanks__content {
	text-align: center;
	color: #fff;
}
.thanks-heading {
	font-size: 24px;
	line-height: 30px;
	margin-top: 0;
	margin-bottom: 16px;
}
.thanks-text {
	margin: 0;
}

@media screen and (min-width: 768px) {
	.thanks {
		gap: 32px;
		padding: 44.5px 36px;
	}
	.thanks-img {
		display: block;
		width: 162px;
		height: 108px;
	}
	.thanks__result {
		padding: 6px 20px;
	}
	.thanks__result-text {
		font-size: 15px;
		line-height: 24px;
	}

	.thanks-heading {
		font-size: 28px;
		line-height: 35px;
	}
	.thanks-text {
		font-size: 15px;
		line-height: 24px;
	}
}

/* =====VISIBILITY===== */

.not-visible {
	display: none;
}


.visible {
	display: block;
}